@using Microsoft.Extensions.Configuration
@using ESSWebPortal.TagHelpers
@inject IConfiguration Configuration
@{
    var currentController = (ViewContext.RouteData.Values["controller"] != null) ? ViewContext.RouteData.Values["controller"].ToString() : null;
    var currentAction = (ViewContext.RouteData.Values["action"] != null) ? ViewContext.RouteData.Values["action"].ToString() : null;
    var sidebarMenu = Configuration.GetSection("sidebarMenu").GetChildren().ToArray();
}

<nav class="navbar navbar-vertical navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav">
                @if (User.IsInRole(UserRoles.SuperAdmin))
                {
                    <li class="nav-item">
                        <div class="nav-item-wrapper">
                            <a class="nav-link label-1 @(currentController.Equals("SuperAdmin") && currentAction.Equals("Index") ? "active": "")" asp-controller="SuperAdmin" asp-action="Index" role="button" data-bs-toggle="" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span class="nav-link-text-wrapper">
                                        <span class="nav-link-text"> Dashboard</span>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-item-wrapper">
                            <a class="nav-link label-1 @(currentController.Equals("SuperAdmin") && currentAction.Equals("UsersList") ? "active": "")" asp-controller="SuperAdmin" asp-action="UsersList" role="button" data-bs-toggle="" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon">
                                        <i class="fa fa-users"></i>
                                    </span>
                                    <span class="nav-link-text-wrapper">
                                        <span class="nav-link-text"> Users</span>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li>
                        <p class="navbar-vertical-label">
                            Management
                        </p>
                        <hr class="navbar-vertical-line" />
                    </li>
                    <li class="nav-item">
                        <div class="nav-item-wrapper">
                            <a class="nav-link label-1 @(currentController.Equals("Plan") ? "active": "")" asp-controller="Plan" asp-action="Index" role="button" data-bs-toggle="" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon">
                                        <i class="fa fa fa-money-bill-alt"></i>
                                    </span>
                                    <span class="nav-link-text-wrapper">
                                        <span class="nav-link-text"> Plans</span>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-item-wrapper">
                            <a class="nav-link label-1 @(currentController.Equals("SuperAdmin") && currentAction.Equals("Orders") ? "active" : "")" asp-controller="SuperAdmin" asp-action="Orders" role="button" data-bs-toggle="" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon">
                                        <i class="fa fa-list"></i>
                                    </span>
                                    <span class="nav-link-text-wrapper">
                                        <span class="nav-link-text"> Orders</span>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-item-wrapper">
                            <a class="nav-link label-1 @(currentController.Equals("Addon") && currentAction.Equals("Index") ? "active" : "")" asp-controller="Addon" asp-action="Index" role="button" data-bs-toggle="" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon">
                                        <i data-feather="layers"></i>
                                    </span>
                                    <span class="nav-link-text-wrapper">
                                        <span class="nav-link-text"> Addons</span>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <div class="nav-item-wrapper">
                            <a class="nav-link label-1 @(currentController.Equals("Access") ? "active": "")" asp-controller="Access" asp-action="Index" role="button" data-bs-toggle="" aria-expanded="false">
                                <div class="d-flex align-items-center">
                                    <span class="nav-link-icon">
                                        <i class="fa fa-universal-access"></i>
                                    </span>
                                    <span class="nav-link-text-wrapper">
                                        <span class="nav-link-text"> Roles & Access</span>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </li>

                }
                else
                {
                    @foreach (var menu in sidebarMenu)
                    {
                        @if (menu["is_header"] != null)
                        {
                            <li>
                                <!-- label-->
                                <p class="navbar-vertical-label">
                                    @menu["text"]
                                </p>
                                <hr class="navbar-vertical-line" />
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <div class="nav-item-wrapper">
                                    <secure-content asp-controller="@menu["controller"]" asp-action="@menu["action"]">
                                        <a class="nav-link label-1 @(currentController.Equals(menu["controller"]) && currentAction.Equals(menu["action"]) ? "active": "")" asp-controller="@menu["controller"]" asp-action="@menu["action"]" role="button" data-bs-toggle="" aria-expanded="false">
                                            <div class="d-flex align-items-center">
                                                <span class="nav-link-icon">
                                                    <span class="@menu["icon"]"></span>
                                                </span>
                                                <span class="nav-link-text-wrapper">
                                                    <span class="nav-link-text">@menu["text"]</span>
                                                </span>
                                            </div>
                                        </a>
                                    </secure-content>
                                </div>
                            </li>
                        }
                    }
                }

            </ul>
        </div>
    </div>
    <div class="navbar-vertical-footer">
        <button class="btn navbar-vertical-toggle border-0 fw-semi-bold w-100 white-space-nowrap d-flex align-items-center"><span class="uil uil-left-arrow-to-left fs-0"></span><span class="uil uil-arrow-from-right fs-0"></span><span class="navbar-vertical-footer-text ms-2">Collapsed View</span></button>
    </div>
</nav>