@using ESSWebPortal.ViewModels.Schedule;
@model IEnumerable<ScheduleVM>

@{
    ViewData["Title"] = "Shifts";
    ViewData["Create"] = true;
}

<div class="card shadow">
    <div class="card-header">
        <div class="float-start">
            <h4>@ViewData["Title"]</h4>
        </div>
        <div class="float-end">
            <a asp-action="Create" class="btn btn-outline-primary shadow"><i class="fa fa-plus-circle fa-fw me-1"></i> Create new</a>
        </div>
    </div>
    <div class="card-body">
        <table id="datatable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        Shift Days
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <div class="d-flex justify-content-start">
                            <h3 class="badge @(item.Sunday? "bg-success" : "bg-secondary") me-2">Sun</h3>
                                <h3 class="badge @(item.Monday? "bg-success" : "bg-secondary") me-2">Mon</h3>
                                <h3 class="badge @(item.Tuesday? "bg-success" : "bg-secondary") me-2">Tue</h3>
                                <h3 class="badge @(item.Wednesday? "bg-success" : "bg-secondary") me-2">Wed</h3>
                                <h3 class="badge @(item.Thursday? "bg-success" : "bg-secondary") me-2">Thu</h3>
                                <h3 class="badge @(item.Friday? "bg-success" : "bg-secondary") me-2">Fri</h3>
                                <h3 class="badge @(item.Saturday? "bg-success" : "bg-secondary") me-2">Sat</h3>
                            </div>
                        </td>
                        <td>
                            @if (item.Status == ScheduleStatus.Active)
                            {
                                <h3 class="badge bg-success">Active</h3>
                            }
                            else
                            {
                                <h3 class="badge bg-danger">In Active</h3>
                            }
                        </td>
                        <td class="d-flex flex-row">
                            <div class="p-1"><a data-bs-toggle="tooltip" data-bs-placement="top" title="Details" class="btn btn-secondary" onclick="getDetails(@item.Id)"><i class="fa fa-eye"></i></a></div>
                            <div class="p-1"><a data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a></div>
                            @if (item.Status == ScheduleStatus.Active)
                            {
                                <div class="p-1"><a data-bs-toggle="tooltip" data-bs-placement="top" title="Disable Shift" class="btn btn-success" asp-action="Block" asp-route-shiftId="@item.Id"><i class="fa fa-toggle-on"></i></a></div>
                            }
                            else
                            {
                                <div class="p-1"><a data-bs-toggle="tooltip" data-bs-placement="top" title="Enable Shift" class="btn btn-danger" asp-action="Block" asp-route-shiftId="@item.Id"><i class="fa fa-toggle-off"></i></a></div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>

        function getDetails(id) {
            $.ajax({
                type: "GET",
                url: "Shift/Details/" + id,
                success: function (response) {
                    console.log(response);
                    setContent(response);
                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });
        }


        function setContent(data) {

            var sundayCont = '<h3 class="badge bg-secondary mr-1">Sun</h3>';
            if(data.sunday){
                sundayCont = '<h3 class="badge bg-success mr-1">Sun</h3>';
            }

            var mondayCont = '<h3 class="badge bg-secondary mr-1">Mon</h3>';
            if(data.monday){
                mondayCont = '<h3 class="badge bg-success mr-1">Mon</h3>';
            }

            var tuesdayCont = '<h3 class="badge bg-secondary mr-1">Tue</h3>';
            if(data.tuesday){
                tuesdayCont = '<h3 class="badge bg-success mr-1">Tue</h3>';
            }

            var wednesdayCont = '<h3 class="badge bg-secondary mr-1">Wed</h3>';
            if(data.wednesday){
                wednesdayCont = '<h3 class="badge bg-success mr-1">Wed</h3>';
            }

            var thursdayCont = '<h3 class="badge bg-secondary mr-1">Thu</h3>';
            if(data.thursday){
                thursdayCont = '<h3 class="badge bg-success mr-1">Thu</h3>';
            }

            var fridayCont = '<h3 class="badge bg-secondary mr-1">Fri</h3>';
            if(data.friday){
                fridayCont = '<h3 class="badge bg-success mr-1">Fri</h3>';
            }

            var saturdayCont = '<h3 class="badge bg-secondary mr-1">Sat</h3>';
            if(data.saturday){
                saturdayCont = '<h3 class="badge bg-success mr-1">Sat</h3>';
            }

            var content = `
                            <table class="table table-striped">
                            <tbody>
                                <tr><td>Title</td> <td>${data.title}</td> </tr>
                                <tr><td>Description</td> <td>${data.description}</td></tr>
                                <tr>
                                <td>Schedule Days</td> 
                                <td>${(sundayCont)} ${(mondayCont)} ${(tuesdayCont)} ${(wednesdayCont)} ${(thursdayCont)} ${(fridayCont)} ${(saturdayCont)} </td>
                                </tr>
                                <tr><td>Start time</td><td>${data.startTime}</td></tr>
                                <tr><td>End time</td><td>${data.endTime}</td></tr>
                                <tr><td>Status</td><td>${data.status === 0 ? "Active" : "In Active"}</td></tr>
                            </tbody>
                            </table>
                                    `;
            $('#modaltitle').text('Shift Details');
            $("#modalbody").html(content);
            $("#modal").modal('toggle');
        }

    </script>
}

